<!DOCTYPE html>
<html>
<head>
	<title>Barber Shop</title>
	<link lang="eng">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="img/favicon.png"/>
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="./css/media.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400i" rel="stylesheet">
	<script src="./js/main.js"></script>
</head>
<body>



	<!-- Шапка -->
	<div class="" id="home"></div>
	<div class="nav" id="header">
		<div class="nav--item"><a href="#about">About us</a></div>
		<div class="nav--item"><a href="#team">Team</a></div>
		<div class="nav--item"><a href="#home"><img src="img/logo-small.png" alt=""></a></div>
		<div class="nav--item"><a href="#services">Services</a></div>
		<div class="nav--item"><a href="#contact">Contact Us</a></div>
	</div>


	<!-- Слайдер -->
	<div class="swiper-container">
		<div class="content">
			<div class="logo post4"><img src="img/logo-big.png" alt=""></div>
			<div class="cont1 post3"><p>We do it with passion</p></div>
			<div class="cont2 post3"><p>Just to be clear, we do this for fun not for you, just kidding.</p></div>
			<div class="btn post3"><a href="#popup" class="popup">Back call</a></div>
			<div class="fon2"><div class="img"><img src="img/fon-dark.png" alt=""></div></div>

		</div>
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="img/1.jpg" alt=""></div>
			<div class="swiper-slide"><img src="img/2.jpg" alt=""></div>
			<div class="swiper-slide"><img src="img/3.jpg" alt=""></div>
			<div class="swiper-slide"><img src="img/4.jpg" alt=""></div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>

	



	<!-- Преимущества -->
	<div id="about"></div>
	<div class="about post4">About us</div>
	<div class="benefits">
		<div class="ic post1">
			<p class="title" >Fast</p>
			<img src="img/fast.png" alt="">
			<p class="subtitle" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quam reiciendis atque quibusdam harum qui temporibus.</p>
		</div>
		<div class="ic post3">
			<p class="title" >Cool</p>	
			<img src="img/cool.png" alt="">
			<p class="subtitle" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati fugiat distinctio neque. </p>
		</div>
		<div class="ic post2">
			<p class="title" >Expensive</p>	
			<img src="img/expensive.png" alt="">
			<p class="subtitle" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, consequuntur consectetur obcaecati! </p>
		</div>
	</div>


	<div class="gallery post4">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="img/1-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/2-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/3-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/4-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/5-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/6-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/7-gal.jpg" alt=""></div>
				<div class="swiper-slide"><img src="img/8-gal.jpg" alt=""></div>
			</div>
			<!-- Add Pagination -->
			<div class="swiper-pagination"></div>
			<!-- Add Arrows -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
	</div>
	<div class="fon1"><div class="img"><img src="img/fon-light.png" alt=""></div></div>



	<!-- Команда -->
	<div class="teamwrap" id="team">
		<div class="fon"><img src="img/fon-dark.png" alt="">
			<div class="team post4">
				<div class="text-center">Our Team</div>
				<div id="menu-slider">
					<ul id="list-links">
						<li>Ivan Ivanov</li>
						<li>Petr Petrov</li>
						<li>Sasha Oleksandrov</li>
						<li>Vasiliy Ivanov</li>
						<li>Igor Sidorov</li>
					</ul>
					<ul id="list-images">
						<li><a href="#">
							<img src="img/1-team.jpg" alt="" />
							<span>Lorem ipsum dolor sit amet</span></a>
						</li>
						<li><a href="#">
							<img src="img/2-team.jpg" alt="" />
							<span>Lorem ipsum dolor sit amet</span></a>
						</li>
						<li><a href="#">
							<img src="img/3-team.jpg" alt="" />
							<span>Lorem ipsum dolor sit amet</span></a>
						</li>
						<li><a href="#">
							<img src="img/4-team.jpg" alt="" />
							<span> Lorem ipsum dolor sit amet</span></a>
						</li>
						<li><a href="#">
							<img src="img/5-team.jpg" alt="" />
							<span>Lorem ipsum dolor sit amet</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>




	<div id="services">
		<div class="services post4">Services</div>
		<div class="h3 post4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officiis dolor vitae rem aspernatur, ut in magnam fugit nemo tempora ducimus iure possimus facere nobis.</div>
		<div class="h2 post4">Prices</div>
		<div class="prices">
			<div class="subprice post1">
				<p>Men hairstyle </p>
				<p>Beard</p><p>Mustache</p>
				<p>Shaving razor</p>
			</div>
			<div class="subprice post2">
				<p><span>300 uah</span></p>
				<p><span>150 uah</span></p>
				<p><span>80 uah</span></p>
				<p><span>200 uah</span></p>
			</div>
		</div>
		<div class="adress1 post3">
			<h2>Sport Square, 1a, Kyiv, 01023</h2>
			<div class="line"></div>
			<h2>+38 (067) 123 45 67</h2>
		</div>
		<div class="btn post3 "><a href="#popup" class="popup">Back call</a></div>
	</div>
	<div class="fon1"><div class="img"><img src="img/fon-light.png" alt=""></div></div>





	<!-- Контакты -->
	<div id="contact">
		<div class="contactus post4">Contact us</div>
		<div class="form post4">
			<form action="#" method="#" id="contactform" role="form">
				<div class="form-group ">
					<label for="contactname"></label>
					<i class="fa fa-user" aria-hidden="true"></i>
					<input onkeyup= "this.value=this.value.replace(/[^a-zA-Zа-яА-ЯёЁ .]/, '')" type="text" class="name" id="contactname" placeholder="Full Name" required>
				</div>
				<div class="form-group">
					<label for="contactemail"></label>
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="email" class="form-control" id="contactemail" placeholder="E-mail" required>
				</div>
				<div class="form-group">
					<label for="contactphone"></label>
					<i class="fa fa-phone" aria-hidden="true"></i>
					<input id="contactphone" class="phone_us" placeholder="Number" required>
				</div>
				<div class="form-group">
					<label for="contactage"></label>
					<i class="fa fa-calendar" aria-hidden="true"></i>
					<input type="" class="date" placeholder="Age" required>
				</div>
				<div class="form-group">
					<label for="textarea"></label>
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					<input type="textarea" class="text" placeholder="Message" required>
				</div>
				<div class="form-group">
					<button type="submit" class="button">Submit</button>
				</div>
			</form>
		</div>


		<div class="adress">
			<div class="street post1">
				<p >Actual address</p>
				<h2>Sport Square, 1a, Kyiv, 01023</h2>
				<h2>+38 (067) 123 45 67</h2>
				<img src="img/logo-big.png" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore qui ipsa perspiciatis nulla, dicta dolor vero blanditiis eum possimus, quod cupiditate omnis, repellendus voluptas ducimus quas. Dignissimos qui quis, quas?</p>
			</div>
			<div class="map post2">
				<select id="style-selector" class="selector-control">
					<option value="silver" selected="selected">Silver</option>
				</select>
				<div id="map"></div>
			</div>
		</div>
	</div>
	<div class="fon1"><div class="img"><img src="img/fon-dark.png" alt=""></div></div>



	<div class="hidden">
		<div id="popup">
			<form action="#" method="#" id="contactform" role="form">
				<div class="form-group ">
					<label for="contactname"></label>
					<i class="fa fa-user" aria-hidden="true"></i>
					<input onkeyup= "this.value=this.value.replace(/[^a-zA-Zа-яА-ЯёЁ .]/, '')" type="text" class="name" id="contactname" placeholder="Full Name" required>
				</div>
				<div class="form-group">
					<label for="contactphone"></label>
					<i class="fa fa-phone" aria-hidden="true"></i>
					<input id="contactphone" class="phone_us" placeholder="Phone" required>
				</div>
			</form>
			<button type="submit">Submit</button>
			<button type="reset" class="error" >Cancel</button>	
		</div>
	</div>




	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApu_5R3AMEH4Ak977sr1RqtbCqz9WwrDI&callback=initMap" async defer></script>

</body>
</html>
